h2 {
    color: darkorchid
    }

h3 {
color: dimgray
}

table {
    border-spacing: 0;
    border: 5px solid rgba(75, 10, 132, 0.24);
}

td, th {
    border: 5px solid rgba(75, 10, 132, 0.24);
    text-align: center;
    width: 100px;
    height: 100px;
    font-weight: bold;
    color:rgba(43, 43, 43, 0.733)
}

img {
    width: 125px;
    height: 125px;
}